body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.board {
  background-color: #0c60ab;
  margin-right: 20px;
}

.row {
  display: flex;
}

.coin {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  margin: 12px;
  background-color: white;
}

.coin.is-red {
  background-color: red;
}

.coin.is-yellow {
  background-color: yellow;
}

.coin.is-selectable:hover {
  background-color: rgb(84, 209, 255);
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(84, 209, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(84, 209, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(84, 209, 255, 0);
  }
}

.chatroom {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
  height: 500px;
}

.messages {
  border-bottom: 1px solid black;
  padding: 10px;
  flex: 1;
  overflow: auto;
}

.message__role {
  font-weight: 700;
}

.message {
  margin-bottom: 10px;
}

.chatroom input {
  border: none;
  padding: 10px;
  outline: none;
  font-family: 'Source Code Pro', monospace;
}
